force-app/main/default/flows/Generate_Log_File.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Log_File</name>
        <label>Generate Log File</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>LogFileGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Log_Detail.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionId</name>
            <value>
                <elementReference>Get_Log_Detail.Transaction_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LogFileGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <description>This flow is used to create the log file using batch job.</description>
    <environments>Default</environments>
    <interviewLabel>Generate Log File {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Log File</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Log_Detail</name>
        <label>Get Log Detail</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Log_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Log_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Transaction_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Log_Detail</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure to start the job to create the log file?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResponseFromApex</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Generate_Log_File.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
